$body-bg: #f3f4f9;
$body-color: #1A1A1A;

$headings-font-weight: 600;
$font-family-base: 'Inter', sans-serif;
$h1-font-size: 1.59855rem;
$h2-font-size: 0.875rem;
$headings-margin-bottom: 0;


$grid-gutter-width: 64px;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: calc(1370px + $grid-gutter-width)
);

$nav-link-color: #9A9DA4;
$nav-link-font-weight: 500;
$nav-link-padding-y: 1.25rem;
$nav-link-padding-x: 1.5rem;
$nav-link-font-size: 0.875rem;
$nav-tabs-border-color: transparent;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: #33373C;
$nav-tabs-border-color: #9A9DA4;
$nav-link-hover-color: #33373C;
$nav-tabs-link-active-bg: transparent;

$btn-padding-y: 8px;
$btn-padding-x: 16px;
$btn-font-size: 0.75rem;
$btn-line-height: 1rem;
$btn-font-weight: 500;
$btn-box-shadow: none;
$btn-border-radius: 4px;
$primary: #1952E1;
$btn-hover-bg-shade-amount: 10.4%;
$btn-hover-border-shade-amount: 10.4%;
$btn-active-bg-shade-amount: 50%; // can not find the exact percent to get exact color as we have in figma
$btn-active-border-shade-amount: 50%;
$btn-border-radius: 4px;

@import 'bootstrap/scss/bootstrap';

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #1952E1;
}


h1 {
  line-height: 1.33;
}
